.loginBg { background: url(../images/loginPic.jpg) no-repeat top center; width: 100%; height: 650px; position: relative; margin: 0 auto;}
.content { width: 1200px; position: relative; margin:0 auto; }
.loginBox { width: 400px; height: 430px; border-radius: 3px; background-color: white; position: absolute; top:100px; right: 130px; box-shadow: 0px 0px 3px #515151; }
.loginBox h2 { color: #333333; font-size: 24px; text-align: center; padding: 30px 0; border-bottom: 1px dotted #ececec; margin-bottom: 31px; }
.loginBox .el-row { padding: 9px 48px; }
.loginBox .el-row input { border-color: #e2e2e2; height: 38px; line-height: 38px; overflow: hidden; background: url(../images/loginIcon.png) no-repeat; padding-left: 32px; transition: all .8s; }
.loginBox .el-row input:focus { border-color: #38404d; }
.loginBox .el-row .err input { border-color:#e60012; }
.loginBox .el-row input[type='password'] { background-position: 7px -42px;}
.loginBox .el-row input[type='text'] { background-position: 12px 8px;}
.loginBox .remember .el-checkbox__label{ font-size: 12px; color: #666666; }

.loginBox .el-row .forget { text-align: right; }
.loginBox .el-row .forget a { font-size: 12px; color: #666666;}
.loginBox .el-row .forget a:hover { color: #20a0ff;}

.loginBox .loginBtn {padding-top: 0;}
.loginBox .loginBtn .is-loading { background: #000!important; }
.loginBox .loginBtn .el-button { background-color: #38404d; color: #e2af49; text-align: center; font-weight: 600; width: 100%; font-size: 16px; height: 38px; line-height: 38px; padding: 0; border:none; } 
.loginBox .loginBtn .el-button:hover {border:none;}

.loginBox .linkToReg { text-align: right; padding-top: 0; color: #666666; }
.loginBox .linkToReg a { color: #f77e1c; }
.loginBox .rules { text-align: left; font-size: 12px; color: #e60012; }

::-webkit-input-placeholder { color:#b4b4b4!important}
:-moz-placeholder { color:#b4b4b4!important;}
::-moz-placeholder { color:#b4b4b4!important;}
:-ms-input-placeholder { color:#b4b4b4!important;}